body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    font-weight: 300;
    background-color: rgb(119, 175, 199);
    margin: 50px 0 0 0;
}

header {
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
}

section {
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.20);
    padding: 25px;
    width: 500px;
    margin: auto;
    text-align: center;
}

#div-datanascimento, #div-sexo, #div-botao {
    padding: 15px 0 15px 0;
}

#data-nascimento {
    font-size: 16px;
}

#botao-verificar {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    width: 50%;
    height: 40px;
    text-transform: uppercase;
}

#div-idade p {
    padding: 25px 0 25px 0;
    font-size: 20px;
    font-weight: bold;
}

footer {
    text-align: center;
    color: whitesmoke;
    font-size: 12px;
}